VITE_SUPABASE_URL=https://zmdatahlnheauuruoexi.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InptZGF0YWhsbmhlYXV1cnVvZXhpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA2ODkyODMsImV4cCI6MjA5NjI2NTI4M30.gFklgQ4ttJp4erKwKQyzOK2WC9SEbkOnzelYi1jWwtw
VITE_ADMIN_PASSWORD=monstre
